
/*Tag Selector*/
div{
    background-color: blanchedalmond;
}

/* Class Selector */
.newClass{
    background-color: rgb(240, 198, 92);
}

/* Id Selector */
#newId{
    background-color: rgb(242, 102, 36);
}

/* Child Selector */
div > p {
    background-color: rgb(112, 230, 22);
}

/* Descendant Selector */
pre p {
    background-color: rgb(153, 26, 250);
}

p[data-x=a]{
    background-color: rgb(124, 41, 124);
    color: white;
}

/* Universal Selector */
*{
    padding: 0;
    margin: 0;
}

/* Pseudo Selector  */
a:visited{
    background-color:yellow;
    color: red;
}
a:link{
    background-color: black;
    color: white;
}
a:active{
    color: blue;
}

p:hover{
    background-color: black;
}
p:first-child{ 
    background-color: rgb(244, 130, 162);
    /* This Helps In Adding First Child Of Every Parent Gets A Child */
}

.fl::first-line{
    color: orange;
}

[data-color="primary"]{
    border-radius: 2rem;
    background-color: blueviolet;
    padding: 8px;
}

div:nth-child(odd){
    border-radius: 1rem;
    background-color: salmon;
}

div:nth-child(even){
    background-color: 4rem;
    margin: auto;
    text-align: center;
    border: 2px solid rgb(11, 212, 114);
}

div:nth-last-child(even)::before{
    content: "This is using before selector  ";
}

div:nth-last-child(even)::after{
    content: "This is using before selector  ";
}

::selection{
    background-color: darkgray;
    color: snow;
} /*this is used for text selection*/

