.area div{
    width: 8vw;
    padding: 8px;
    border: 1px solid black;
    background-color: #8509d299;
}

.area{
    display: grid;
    grid-template-columns: repeat(3,20vw);
    grid-template-rows: repeat(2, 20vh);
    grid-gap: 3vw;
}

.Header{
    grid-row-start:2;
    grid-row-end: 1;
}