.A{
    color: red !;
}

.B{
    color: blue;
}

.C{
    color: brown;
}

.D{
    color: rgb(19, 83, 150);
}

.E{
    color: blanchedalmond;
}
.F{
    color:mediumaquamarine;
}
.G{
    color:salmon !important;
}
.H{
    color:honeydew;
}